= form.input :identifier
= form.input :label
= form.input :host
= form.input :title
= form.input :available_locales, collection: I18n.available_locales.collect{ |l| [MomentumCms::Internationalization.lookup(l), l]}, prompt: 'Choose available locales', input_html: {multiple: true, include_blank: false}
= form.input :default_locale, collection: I18n.available_locales.collect{ |l| [MomentumCms::Internationalization.lookup(l), l]}, prompt: 'Choose a default locale', input_html: {include_blank: false}

= form.input :enable_advanced_features
.site-advanced-features
  = form.input :remote_fixture_type
  = form.input :remote_fixture_url

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_sites_path, class: 'btn btn-primary btn-xs'