= form.input :label
= form.input :slug
= form.association :site, collection: MomentumCms::Site.all, prompt: 'Choose a Site', label_method: :label, value_method: :id, include_blank: false
= form.association :template, collection: MomentumCms::Template.all, prompt: 'Choose a Template', label_method: :label, value_method: :id, include_blank: false
= form.input :published_content_id, collection: MomentumCms::Content.all, prompt: 'Choose a Content', label_method: :label, value_method: :id, include_blank: false

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_pages_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'