= render 'momentum_cms/admin/pages/form/errors'

= form.input :label
= form.input :identifier
= form.input :slug, hint: "Localized for: #{I18n.locale}"

- if @momentum_cms_parent_pages
  = form.input :parent_id, collection: @momentum_cms_parent_pages, prompt: 'Choose a Parent Page...', label_method: :label

= form.association :template, collection: @current_momentum_cms_site.templates.all, prompt: 'Choose a Template', label_method: :label, value_method: :id, include_blank: false,  input_html: { class: 'template-select' }

%hr

.content-fields
  = form.simple_fields_for :blocks do |block_form|
    - next unless @block_templates_identifiers.include?(block_form.object.identifier)
    .momentum_cms_block   
      = render 'momentum_cms/admin/pages/form/blocks_fields', block_form: block_form

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_pages_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'
