= simple_form_for @momentum_cms_page, url: {action: :new}  do |form|
  .ajax-fields
    = form.simple_fields_for :contents do |content_form|
      = content_form.simple_fields_for :blocks do |block_form|

        - if block_form.object.persisted?
          = block_form.input :id, as: :hidden

        = block_form.input :identifier, as: :hidden
        = block_form.input :block_template_id, as: :hidden
        = block_form.input :value, label: block_form.object.identifier.titleize
