= form.association :page, collection: MomentumCms::Page.all, prompt: 'Choose a Page', label_method: :label, value_method: :id, include_blank: false
= form.input :label
= form.input :content
= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_pages_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'