= form.input :label, hint: "Localized for: #{I18n.locale}"

= form.simple_fields_for :blocks do |block_form|
  .block
    = block_form.input :identifier, as: :hidden
    = block_form.input :block_template_id, as: :hidden
    = block_form.input :value, label: block_form.object.identifier
-#= @content.html_safe

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_pages_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'

- if !@momentum_cms_content.new_record? && !@momentum_cms_content.default
  = link_to 'Delete', momentum_content_url(@momentum_cms_content), method: :delete, class: 'btn btn-danger btn-xs' unless @momentum_cms_content.default