.panel.panel-default
  .panel-heading Publishing Options
  .panel-body

    - unless @momentum_cms_content.published?
      .alert.alert-warning
        You are currently editing unpublished content

    .btn-group
      %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
        Editing: 
        = @momentum_cms_content.label || 'New Content'
        %span.caret
      %ul.dropdown-menu
        %li.dropdown-header{role: 'presentation'} Content Variations
        - @momentum_cms_content.page.contents.each do |content|
          %li= link_to content.label, edit_momentum_content_url(content)
        %li.divider{role: 'presentation'}
        %li
          = link_to new_momentum_content_url do
            .glyphicon.glyphicon-plus
            Add Content Variation

    %hr

    = simple_form_for @momentum_cms_page, url: momentum_page_url do |f|
      = f.label :published_content_id, 'Published Content'
      = f.select :published_content_id, @momentum_cms_page.contents.collect{|c| [c.label, c.id]}, selected: @momentum_cms_page.published_content_id
      %hr
      = f.submit 'Update', class: 'btn btn-default btn-sm'
