= form.input :label
= form.input :identifier

= form.association :document_template, collection: @current_momentum_cms_site.document_templates.all, prompt: 'Choose a Document Template', label_method: :label, value_method: :id, include_blank: false,  input_html: { class: 'document-template-select' }

%hr

.content-fields
  = form.simple_fields_for :fields do |field_form|
    - next unless @field_templates_identifiers.include?(field_form.object.identifier)
    .momentum_cms_field
      = render 'momentum_cms/admin/documents/partials/fields_fields', field_form: field_form
      
= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_documents_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'