%h1.page-header Documents

%table.table
  %thead
    %tr
      %th.identifier Identifier
      %th Label
      %th Blue Print
      %th.control Control
  %tbody
    - @momentum_cms_documents.each do |momentum_cms_document|
      %tr
        %td
          .label.label-info= momentum_cms_document.identifier
        %td= link_to momentum_cms_document.label, edit_cms_admin_site_document_path(@current_momentum_cms_site, momentum_cms_document)
        %td= momentum_cms_document.blue_print.label
        %td= link_to 'Destroy', cms_admin_site_document_path(@current_momentum_cms_site, momentum_cms_document), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
%br/
= link_to 'New Document', [:new, :cms, :admin, :site, :document], class: 'btn btn-primary btn-xs'
