= form.input :label
= form.input :slug
= form.input :menu_json, as: 'hidden', input_html: { class: 'cms-admin-site-menus-json' }

.form-group
  %label.control-label
    Find Page
  %div
    %input.form-control.momentum-cms-pages-select{data: {remote_url: cms_admin_site_pages_path(@current_momentum_cms_site, {format: :js})}}

%button.btn.btn-success.btn-xs.momentum-cms-menu-add-page
  Add Page

= render partial: 'sub_menu', locals: { momentum_cms_menu_items_tree: @momentum_cms_menu.menu_items, require_root: true}

%hr

= form.submit class: 'btn btn-success btn-xs momentum-cms-menu-submit'
= link_to 'Back', cms_admin_site_menus_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'