!!!
%html{:lang => I18n.locale}
  %head
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset=utf-8'}
    
    = stylesheet_link_tag 'momentum_cms/admin/application'
    = javascript_include_tag 'momentum_cms/admin/application'
    = csrf_meta_tag
    %title
      - if @current_momentum_cms_site
        = @current_momentum_cms_site.title
      - else
        MomentumCMS

    = yield :head
    
  %body#momentum_cms{:class => "controller-#{params[:controller].to_slug} action-#{params[:action].to_slug} #{params[:controller].to_slug}-#{params[:action].to_slug}"}
    .navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'MomentumCMS', cms_admin_root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if @current_momentum_cms_site
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                  = MomentumCms::Internationalization.lookup(I18n.locale)
                  %b.caret
                %ul.dropdown-menu
                  - @current_momentum_cms_site.get_locales.each do |locale|
                    %li= link_to MomentumCms::Internationalization.lookup(locale), params.merge(locale: locale)
            %li
              = link_to 'Dashboard', cms_admin_root_path
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                Site
                %b.caret
              %ul.dropdown-menu
                - @momentum_cms_sites.each do |momentum_cms_site|
                  %li= link_to momentum_cms_site.label, cms_admin_site_dashboards_path(momentum_cms_site)
                - if @momentum_cms_sites.present?
                  %li.divider
                %li.dropdown-header Manage Sites
                %li= link_to 'Manage Sites', cms_admin_sites_path
                %li= link_to 'New Site', new_cms_admin_site_path
          %form.navbar-form.navbar-right
            %input.form-control{placeholder: 'Search...', type: 'text'}/
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          = MomentumCms::Service::ViewHookStore.get_view_hook(:admin_left_menu).render(self)

        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          - flash.each do |type, message|
            .alert{:class => "alert-#{type}"}
              %button.close{:type => 'button', :data => {:dismiss => 'alert'}} &times;
              = message
          = yield