= form.input :label
= form.input :identifier

= form.input :parent_id, collection: @momentum_cms_blue_prints, prompt: 'Parent Blue Print...', label_method: :label

%hr
.momentum-cms-field-templates
  = form.simple_fields_for :field_templates do |field_template_form|
    .momentum_cms_field_template
      = render 'momentum_cms/admin/blue_prints/partials/field_template_fields', field_template_form: field_template_form

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_blue_prints_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'