= form.association :site, collection: MomentumCms::Site.all, prompt: 'Choose a Site', label_method: :label, value_method: :id, include_blank: false
= form.input :label
= form.input :js, as: :text, input_html: { rows: 10, data: {editor: 'javascript'}}
= form.input :css, as: :text, input_html: { rows: 10, data: {editor: 'css'}}
= form.input :content, as: :text, input_html: { rows: 10, data: {editor: 'liquid'}}
= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', momentum_cms_admin_templates_path, class: 'btn btn-primary btn-xs'