= form.input :label, hint: 'Read our <a href="https://github.com/MomentumCMS/momentum_cms/wiki/CMS-Tags" target="_blank">documentation</a> to learn more about templates and tags'.html_safe

= form.input :parent_id, collection: @momentum_cms_templates, prompt: 'Parent Template...', label_method: :label

- if !@momentum_cms_template.permanent_record? || @momentum_cms_template.new_record?
  = form.input :permanent_record, label: 'Is permanent record', as: :boolean
- else
  = form.input :permanent_record, label: 'Is permanent record', disabled: true, hint: 'You cannot enable deletion on this permanent record.', as: :boolean

:javascript
  $(document).ready(function() {
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var tab = $(e.target).attr('href');
      $(tab).find('.ace_text-input').focus();
    });
  });

%ul.nav.nav-tabs
  %li.active= link_to 'Template', '#content', data: {toggle: 'tab'}
  %li= link_to 'CSS', '#css', data: {toggle: 'tab'}
  %li= link_to 'Javascript', '#js', data: {toggle: 'tab'}

.tab-content
  .tab-pane.active#content
    = form.input :content, as: :text, input_html: { rows: 10, data: {editor: 'liquid'}}, label: 'Template (liquid)'
  .tab-pane#css
    = form.input :css, as: :text, input_html: { rows: 10, data: {editor: 'css'}}, label: 'CSS'
  .tab-pane#js
    = form.input :js, as: :text, input_html: { rows: 10, data: {editor: 'javascript'}}, label: 'Javascript'

= form.submit class: 'btn btn-success btn-xs'
= link_to 'Back', cms_admin_site_templates_path(@current_momentum_cms_site), class: 'btn btn-primary btn-xs'