- require_root ||= false
- path ||= ''
- momentum_cms_templates_tree.each do |momentum_cms_template|
  - next if require_root && !momentum_cms_template.is_root?
  %tr
    %td
      .label.label-info= momentum_cms_template.identifier
    %td
      = path.html_safe
      = link_to momentum_cms_template.label, edit_cms_admin_site_template_path(@current_momentum_cms_site, momentum_cms_template)
    %td= link_to 'Destroy', cms_admin_site_template_path(@current_momentum_cms_site, momentum_cms_template), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
  = render partial: 'templates', locals: {momentum_cms_templates_tree: momentum_cms_template.children, path: "#{path}&mdash;"}
