%h1.page-header Templates

%table.table
  %thead
    %tr
      %th Label
      %th Created At
      %th Updated At
      %th Control
  %tbody
    - @momentum_cms_templates.each do |momentum_cms_template|
      %tr
        %td= link_to momentum_cms_template.label, edit_cms_admin_site_template_path(@current_momentum_cms_site, momentum_cms_template)
        %td= momentum_cms_template.created_at
        %td= momentum_cms_template.updated_at
        %td       
          = link_to 'Destroy', cms_admin_site_template_path(@current_momentum_cms_site, momentum_cms_template), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
%br/
= link_to 'New Template', [:new, :cms, :admin, :site, :template], class: 'btn btn-primary btn-xs'